name: Java Build & Release

permissions:
  contents: read

on:
  push:
    branches:
      - stage
    tags:
      - 'v*'
  workflow_dispatch:

jobs:
  build-stage:
    name: Build stage
    uses: ./.github/workflows/build-release.yml
    secrets: inherit
